#name
{ color: white;
background-color:#4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align-last: center;
margin-top:-10px;
margin-left: 160px;
margin-right:383px;

height: 85px;
width: 230px;
padding: 10px;
font-size:20px;


}


hr {
    color:#8a8787;
    margin: 
}


#rightTop{ 
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: -60px;
margin-left:600px;
margin-right: 150px;
font-size: 17px;
}

a:link {
    text-decoration: none;
    color:#777777 ;

    
}
 


#centerContent {
    background-image: 
    url(/Users/ornelahunda/Basic-Portfolio/assets/images/dust_scratches.png);
    height: 80%;
     width: 100%;
    padding: 25px;
    box-sizing: border-box;
    border-bottom-color: #4aaaa5;
    border-bottom-width: 10px;
  margin-top: -45px;


}

h3{ color: #4aaaa5;
    font-size: 25px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#centerLeft {

 
    background-color: white;
    color:#777777;
    margin-top: 40px;
    margin-bottom: -20px;
    margin-right:450px;
    margin-left: 135px;
      padding-top: 20px;
       padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
     
}



h4{
    color: #4aaaa5;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#centerRight{
   
   
    text-align: center;
   background-color: white;

    width: 240px;
    height: 150px;
    padding: 30px;
    margin-left:660px;
    margin-top: -470px;
margin-bottom:300px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}

#photo{
float:left; 
margin-right:10px; 
margin-bottom:10px;
}
#portfolio{
    background-color: white;
    color:#777777;
    margin-top: 40px;
    margin-bottom: -20px;
    margin-right:450px;
    margin-left: 135px;
      padding-top: 20px;
       padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

}
.games{
  
}


footer {
   
    padding: 30px;
    clear: both;
    background: #666666;
    text-align: center;
     color:#dad6d6;
     font-size: 15px;
  }