#name
{ color: white;
background-color:#4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align-last: center;
margin-top:-10px;
margin-left: 160px;
margin-right:383px;

height: 85px;
width: 230px;
padding: 10px;
font-size:20px;


}


hr {
    color:#8a8787;
  margin:10px;
}


#rightTop{ 
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: -60px;
margin-left:600px;
margin-right: 150px;
font-size: 20px;
color: #777777;
}

a:link {
    text-decoration: none;
    color:#777777 ;

    
}
 


#centerContent {
    background-image: 
    url(/Users/ornelahunda/Basic-Portfolio/assets/images/dust_scratches.png);
    height: 700px;
     width: 100%;
    padding: 25px;
    box-sizing: border-box;
    border-bottom-color: #4aaaa5;
    border-bottom-width: 10px;
  margin-top: -45px;
  margin-bottom: -40px;


}

h3{ color: #4aaaa5;
    font-size: 25px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#centerLeft {

    position: relative;
    background-color: white;
    color:#777777;
    margin-top: 40px;
    margin-bottom: -20px;
    margin-right:450px;
    margin-left: 135px;
      padding-top: 20px;
       padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
     
}



h4{
    color: #4aaaa5;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#centerRight{
   
   
    text-align: center;
   background-color: white;

    width: 240px;
    height: 150px;
    position: relative;
    padding: 30px;
    margin-left:700px;
    margin-right:10px;
    margin-top: -480px;
margin-bottom:250px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}

#photo{
float:left; 
margin-right:10px; 
margin-bottom:10px;
}


       h6 {color: white;  
             position: absolute; 
            background-color: #4aaaa5;  
            width:200px; 
            height: 50px;
            margin-top:105px;
            font-size: 23px;
            top:120px;
           padding-top:5px; 
         }
         
         h7 {color: white;
          background-color: #4aaaa5; 
            position: absolute; 
           
           width:200px; 
           height: 50px;
           margin-top:105px;
           margin-left:-204px;
           font-size: 23px;
           top:120px;
          padding-top:5px; 
        }
        h8{color: white;  
            position: absolute; 
           background-color: #4aaaa5;  
           width:200px; 
           height: 50px;
           margin-top:287px;
           margin-left:-204px;
           margin-right:600px;
           font-size: 23px;
           top:120px;
          padding-top:5px; 

        }
h9{color: white;
    background-color: #4aaaa5; 
      position: absolute; 
     
     width:200px; 
     height: 50px;
     margin-top:287px;
     margin-left:-200px;
     font-size: 23px;
     top:120px;
    padding-top:5px; 

}


.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;

}


footer {
    position:relative;
   margin-top: 10px;
    padding: 30px;
    clear: both;
    background: #666666;
    text-align: center;
     color:#dad6d6;
     font-size: 15px;
  }