/* #name represents an id for the main header of this website */
#name
{ color: white;
background-color:#4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align-last: center;
margin-top:-10px;
margin-left: 160px;
margin-right:383px;

height: 85px;
width: 230px;
padding: 10px;
font-size:20px;


}
/* Horizontal line */

hr {
    color:#8a8787;
  margin:10px;
}

/* Styling of the links to other pages */
#rightTop{ 
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: -60px;
margin-left:600px;
margin-right: 150px;
font-size: 20px;
color: #777777;
}

a:link {
    text-decoration: none;
    color:#777777 ;

    
}

#centerContent {
    background-image: 
    url(/Users/ornelahunda/Basic-Portfolio/assets/images/dust_scratches.png);
    height: 700px;
     width:1500px;
    padding: 25px;
 border-top:  1px solid rgb(235, 229, 229);
  margin-top: -45px;
  margin-bottom: -40px;


}

h3{ color: #4aaaa5;
    font-size: 25px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#centerLeft {
    float:left;
    overflow: auto;
    width:640px;
    height:450px;
    position: relative;
    background-color: white;
    color:#777777;
    border: 1px solid rgb(235, 229, 229); 
    margin-top: 40px;
    margin-bottom: -20px;
    margin-right:450px;
    margin-left: 135px;
 
 
    /* Space between the border and the content of this section */
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
     

           
     
}



h4{
    color: #4aaaa5;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Setting the width of the right section 270px as given in the 
instructions. */

#centerRight{
  
    /* Section size and color */
width: 270px;
height: 200px;
background-color: white;
border: 1px solid rgb(235, 229, 229); 
   
text-align: center; 
 
  
 /*Positioning of this section inside the parent */
float: right;
overflow: auto;
margin-top: -470px;
margin-right: 330px;

/* Space between the border and the content of this section */
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}

/* positioning photo inside the content */
#photo{
float:left; 
margin-right:10px;
margin-left:10px; 
margin-bottom:10px;
}

/* Game names, giving same color and size and also positioning on  
top of the pic. */
       h6 {color: white;  
             position: absolute; 
            background-color: #4aaaa5;  
            width:255px; 
            height: 50px;
            margin-top:105px;
            font-size: 23px;
            top:120px;
           padding-top:5px; 
         }
         
         h7 {color: white;
          background-color: #4aaaa5; 
            position: absolute; 
           
           width:255px; 
           height: 50px;
           margin-top:105px;
           margin-left:-259px;
           font-size: 23px;
           top:120px;
          padding-top:5px; 
        }
        h8{color: white;  
            position: absolute; 
           background-color: #4aaaa5;  
           width:255px; 
           height: 50px;
           margin-top:287px;
           margin-left:-259px;
           margin-right:600px;
           font-size: 23px;
           top:120px;
          padding-top:5px; 

        }
h9{color: white;
    background-color: #4aaaa5; 
      position: absolute; 
     
     width:255px; 
     height: 50px;
     margin-top:287px;
     margin-left:-255px;
     font-size: 23px;
     top:120px;
    padding-top:5px; 

}


.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;

}



.clearfix::after {
    content: "";
    clear: both;
    display: block;}

     /* Setting the footer's properties: background-color, text color,
      text positioning, size, border  */
footer {
    padding: 30px;
    clear: both;
    background: #666666;
    text-align: center;
     color:#dad6d6;
     font-size: 15px;
     border-top: 8px solid #4aaaa5;
  } 